{% extends 'base.html.twig' %}

{% block title %}Student{% endblock %}

{% block body %}
    <h1>Student</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ student.id }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ student.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ student.lastName }}</td>
            </tr>
            <tr>
                <th>NumEtud</th>
                <td>{{ student.numEtud }}</td>
            </tr>
            <tr>
                <th>Department</th>
                <td>
                    {%  if student.department %}
                        {{ student.department.name }}
                    {%  else %}
                        ---
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('app_student_index') }}">back to list</a>

    <a class="btn btn-warning" href="{{ path('app_student_edit', {'id': student.id}) }}">edit</a>

    {{ include('student/_delete_form.html.twig') }}
{% endblock %}
