{% extends 'base.html.twig' %}

{% block title %}Department index{% endblock %}

{% block body %}
    <h1>Department index</h1>

    <table class="table table-striped" style="text-align: left">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Capacity</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for department in departments %}
            <tr>
                <td>{{ department.id }}</td>
                <td>{{ department.name }}</td>
                <td>{{ department.capacity }}</td>
                <td>
                    <a class="btn text-primary" href="{{ path('app_department_show', {'id': department.id}) }}"> <i class="fa fa-list-alt"></i></a>
                    <a class="btn text-primary" href="{{ path('app_department_edit', {'id': department.id}) }}"> <i class="fa fa-pencil-square-o"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('app_department_new') }}">Create new</a>

{% endblock %}
